node_modules/
.env
vault-seeds.js
coverage/
junit.xml
.idea/
build/
tmp/
temp/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
!.elasticbeanstalk/config.yml
